# =====================================================
#  IncidentOps Campus – Variables d'environnement
#  IMPORTANT : Ne jamais committer ce fichier sur Git !
#  Ajouter .env dans .gitignore
# =====================================================

# Django
DEBUG=True
SECRET_KEY=django-insecure-changez-moi-en-production-avec-une-cle-longue-et-aleatoire
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Base de données PostgreSQL
DB_NAME=incidentops_db
DB_USER=incidentops_user
DB_PASSWORD=MotDePasseSecurise123!
DB_HOST=db
DB_PORT=5432

# Email (console pour le développement)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=votre_email@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_application
DEFAULT_FROM_EMAIL=noreply@incidentops.local
